#products-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

.header {
  background-color: rgb(212, 209, 209);
  display: flex;
  align-items: baseline;
  padding: .5rem;
  gap: 1rem;
  justify-content: flex-left;
}

.logo img {
    position: relative;
    width: 150px;
    float:left;
    margin-top:16px;
    cursor: pointer;
   
}
.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}